/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text: #111;
	--color-background: #eee;
}





/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

@font-face {
	font-family: "Dunkin Bold";
	src: url("/fonts/dunkin_bold.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Dunkin Regular";
	src: url("/fonts/dunkin_regular.otf") format("opentype");
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	margin-top: 6.5em;
	margin-bottom: 7em;
}

h1 {
	background-color: #F36E21;
	color: white;

	text-align: center;
	font-size: smaller;
	font-family: "Dunkin Regular";


	padding: 1em;
	margin: 0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
}

nav {
	display: flex;
	justify-content: center;
	justify-content: space-between;

	margin-top: 2.6em;
	padding-bottom: 1em;

	border-bottom-style: solid;
	border-width: 1px;
	border-color: #F1F0F0;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	background-color: white;
}

nav img:first-of-type {
	max-width: 3em;
	max-height: 2em;

	padding: .5em 1em .5em 1em;
	border-radius: 1.5em;
	margin-top: 1em;
	margin-left: 1em;

	background-color: #F1F0F0;
}

nav img:nth-of-type(2) {
	max-width: 8em;
	max-height: 1.8em;

	margin-top: 1em;
}

nav img:nth-of-type(3) {
	padding: .5em 1em .5em 1em;
	margin-right: 1em;
	margin-top: 1em;

	background-color: #F1F0F0;

	border-radius: 1.5em;

	max-width: 3em;
	max-height: 2em;
}

nav button {
	border-radius: 20%;
	border: none;

	padding: 3em;

	justify-content: flex-end;
}

nav ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: fixed;

	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	translate: -100% -100%;
}

nav li {
	list-style: none;
	color: #4F3010;
}

main img:first-of-type {
	width: 21.5em;

	margin-top: 2em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}

main section:first-of-type {
	background-color: #ED1A8E;
	border-radius: 1.2em;
	color: white;

	padding: 1em;
	margin: 1em;
	margin-top: 0;
}

main section:first-of-type h3 {
	text-align: center;
	font-size: 300%;
	margin: 0;
	font-family: 'Dunkin Bold';
}

main section:first-of-type p {
	font-family: 'Dunkin Regular';
}

main section:first-of-type button:first-of-type {
	background-color: white;
	color: #ED1A8E;
}

main section:first-of-type button {
	border: none;
	border-radius: .5em;

	background-color: #EB569F;
	color: white;

	font-family: 'Dunkin Bold';
	font-size: 90%;

	width: 9.6em;
	height: 3em;
}

main section:first-of-type button:first-of-type {
	margin-right: 1em;
	margin-left: .3em;
	margin-bottom: .5em;
}

main section:nth-of-type(2) {
	background-color: #99D6EA;

	margin: 1em;
	padding-top: .7em;

	border-radius: 1em;

	display: flex;
	flex-direction: column;
	align-items: center;
}

main section:nth-of-type(2) h4 {
	color: white;

	font-family: 'Dunkin Bold';
	font-size: 350%;

	text-align: center;

	margin: 0;
}

main section:nth-of-type(2) img {
	margin: 0;
	padding-top: 4em;


	width: 15em;
}

main section:nth-of-type(3) {
	font-family: 'Dunkin Bold';

	background-color: #F1F0F0;
}

main section:nth-of-type(3) h5 {
	display: none;
}

main section:nth-of-type(3) p {
	margin: 0;
	font-size: 400%;

	height: .9em;
	margin-left: .2em;
}

main section:nth-of-type(3) p:first-of-type {
	color: #ED1A8E;
}

main section:nth-of-type(3) p:nth-of-type(2) {
	color: #F36E21;
}

main section:nth-of-type(3) p:last-of-type {
	color: #ED1A8E;
}

main section:nth-of-type(3) ul {
	padding: 0;
	margin-right: 1em;
	margin-left: 1em;

	justify-content: center;
	align-items: center;
	margin-top: 3em;
}

main section:nth-of-type(3) ul:nth-of-type(2) {
	margin-top: .3em;
}

main section:nth-of-type(3) ul:nth-of-type(3) {
	margin-top: .3em;
}

main section:nth-of-type(3) ul li {
	background-color: white;
	list-style: none;
	display: flex;
	border-radius: 1em;


	padding: 1em;
	padding-left: 0;
}

main section:nth-of-type(3) ul li img {
	width: 3.5em;

	background-color: #ED1A8E;
	border-radius: 5em;

	padding: .7em;
	margin-top: 1em;
}

main section:nth-of-type(3) ul:nth-of-type(2) img {
	background-color: #F36E21;
}

main section:nth-of-type(3) ul li h6 {
	color: #ED1A8E;
	font-size: 160%;
	margin: 0;
	line-height: .9em;
}

main section:nth-of-type(3) ul:nth-of-type(3) h6 {
	margin-top: .7em;
}

main section:nth-of-type(3) ul li p:first-of-type {
	font-size: small;
	font-family: 'Dunkin Regular';
	color: #AAAAB2;

	margin-top: .7em;
}

main section:nth-of-type(3) button {
	margin: 1em;
	margin-left: 2em;
	padding: 1.5em 9em 1.5em 9em;

	background-color: #F36E21;
	color: white;
	border: none;
	border-radius: 2em;

	font-family: 'Dunkin Bold';
}

main section:nth-of-type(4) {
	background-color: #71C5E8;
	border-radius: 1em;

	margin: 1.3em;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

main section:nth-of-type(4) h6 {
	color: white;
	font-family: 'Dunkin Bold';
	font-size: 350%;
	text-align: center;

	margin: .5em 1em .5em 1em;
}

main section:nth-of-type(4) p {
	text-align: center;
	color: white;
}

main section:nth-of-type(4) p:first-of-type {
	font-family: 'Dunkin Bold';
	font-size: 150%;
}

main section:nth-of-type(4) p:last-of-type {
	font-family: 'Dunkin Regular';
}

main section:last-of-type {
	background-color: #F1F0F0;

	padding-top: 1em;

	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
}

main section:last-of-type h6 {
	display: none;
}

main section:last-of-type button {
	border: none;
	border-radius: 2em;

	background-color: #F36E21;
	color: white;

	font-family: 'Dunkin Bold';

	padding: 1.5em 10em 1.5em 10em;
	margin-bottom: 1em;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 1em;
}